.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.font-type {
	font-family: 'Open Sans', sans-serif;
}

.img-responsive {
	height: 130px;
	margin-top: -12px;
	padding-bottom: 50px;
}

img {
	height: 300px;
	margin-top: 50px;
}

h4 {
	margin-top: -45px;
}

.navbar {
	background-color: black;
	opacity: .5;
}

.dropdown {
	text-align: center;
}

.dropdown-menu {
	text-align: center;
}

body {
	background-color: white;
	text-align: center;
}

ul {
  	list-style-type: none;
}