<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>House Party III</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <header>
    <div class="container clearfix">   
      <div class= "navbar-wrapper">
          <div class="container">
              <nav class = "navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

                      <div class = "navbar-header">
                          <button type= "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target= "#navbar" aria-expanded="false" aria-controls = "navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <!--Below is the top-left hand side of the screen where you usually see a company/project name and a logo-->
                          <!--The next line sends the user back to the home page-->
                          <a class="navbar-brand" href="{%url 'index' %}"> 
                              <!--Insert the file name of your brand image below after the 'img'-->
                               <img class="img-responsive" src="/static/images/house_party_iii_logo_white.png"> 
                          </a>
                      </div>
                      
                      <div id= "navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                            <!--Below is where you put the rest of the links to the pages you've created. Please reference your own models
                             in Django.-->
                              <li>
                                  <a href="{% url 'index' %}">Home</a>
                              </li>
                              <li>
                                  <a href="{% url 'party_create' %}">Create Party</a>
                              </li>
                          </ul>
                      </div>
              </nav>
          </div>
      </div>
    </div>
  </header>











  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>

          <li><a href="">All Parties</a></li>
          {% if user.is_authenticated %}
            <li><a href="">My Parties</a></li>
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'party_create' %}">Create Party</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}
        </ul>
        {% endblock %}
      </div>
    </div>
  </div>
            {% block content %} {% endblock %}
</body>
</html>
